@import url(http://themes.wikidot.com/radical-minimalist/code/1);
.code {
    background-image: none;
    font-size: 11px;
    margin: 0.4em 0 0.4em 0;
    min-height: 0;
    padding: 0 1em 0 10px;
    width: 100%;
    line-height: 120%;
}
#main-content {
    margin: 20px 0 0 0;
    font-size: 120%;
    line-height: 150%;
}
#top-bar {
    height: 66px;
}
.side-box {
    background-color: #FFFCFC;
    border: 1px solid #FFF3F3;
}
.side-box h2 {
    background-color: #FFF3F3;
}
#header h1 a {
    color: #FFFFFF;
}
#page-title {
    line-height: 130%;
}
